td .btn-primary {
	margin-right: 3px;
}
body {
	margin-top:50px;
}
#formulario, 
#formularioCrear, 
#form_nuevo_doctor, 
#form_edita_doctor, 
#edicionerr, 
#edicionok, 
#ventana_formulario, 
#ventana_formulario_crear{
	display:none;
}
#formulario, #formularioCrear{
	margin: auto;
	height: 400px;
	width: 600px;
}
#formulario{
	height:500px;
}
#github{
	margin-left: 20px;
}
li{
	list-style-type: none;
}
.pfoo{
	text-align: center;
}
